.face-card {
  max-width: 300px;
  border-width: 2px;
}

.face-img  {
    border-radius: 23px;
}

.face-div {
  border-radius: 29px;
  border: 5px solid #000000;
  padding: 0px;
  width: 313px;
  height: 342px;
}