main {
    width: 100%;
    min-height: 100%;
    // padding: 1rem;
    box-sizing: inherit;
}

h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    text-align: center;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

.subtitle {
    margin: 0;
    color: var(--gray-700);
    text-align: center;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

.sidebar {
    background-color: #f4f4f4;
    position: sticky;
    top: 60px;
    align-self: flex-start;
}

.container {
    margin-top: 60px;
    display: flex;
}

.main-content {
    background-color: #e2e2e2;
}

.example-spacer {
  flex: 1 1 auto;
}

.flex-item {
    min-width: 0;
    width: 100%;
    flex-grow: 1;
}

.site-header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
    top: 0;
    left: 0;
}

.tab-group {
    position: sticky;
    top: 60px;
}

.tab-page {
    height: calc(100vh - 60px);
    // overflow-y: scroll;
}